.btn {
    background-color: #4D91CC;
    height: 50px;
    border-radius: 12px;
    color: #F7F7F7;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}